.web {
  color: white;
  text-decoration: none;
}
#amazon {
  color: orange;
  font-size: 25px;
}
button {
  background-color: orange;
  color: white;
}
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100vw;
}
